body, html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100vh;
  height: 100%;
}

#main {
  width: 80%;
  background-color: #1d1d1d;
  color: #ffffff;
  padding-left: 5%;
}

.form-container {
  background-color: #2B2728;
  color: #ffffff; 
  padding: 20px;
  border-radius: 20px;
}

.form-label {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.add-question-btn {
  background-color: #C92240;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.question-container {
  margin-top: 20px;
}

.question-input {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.add-answer-btn {
  background-color: #C92240;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.remove-answer-btn {
  background-color: #871227;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.submit-btn {
  background-color: #C92240;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

  input[type="text"], textarea {
    display: block;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #800000; 
    color: white;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    width: 20%;
    padding: 15PX;
    margin-right: 10PX;
  }
  
  button:hover {
    background-color: #b30000; 
  }
  
  button[type="button"] {
    margin-top: 10px;
    display: inline-block; 
  }
  
  button[type="submit"] {
    margin-top: 20px;
  }
  

