
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-image: url('/src/Images/background_landing.png');
  background-size: cover;
}

#logo-button{
  align-self: center;
}